*{
    background:black;
    }
    
    body {
    
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 17px;
        color: #000000;
        line-height: 1.6;
    }
    
    #showcase {
        background-image:url("https://media.istockphoto.com/photos/3d-rendering-of-a-plastic-jar-with-medical-pills-on-a-hand-truck-on-picture-id1181606267?k=20&m=1181606267&s=612x612&w=0&h=b9jnbZnwgOncQtmQTPVlQEiqqBDWQhUaA_jQCO6N9jU=");
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 17px;
        color: #000000;
        line-height: 1.6;
    }
    
    
    
    #showcase .button {
        font-size: 18px;
        text-decoration: none;
        color: #000000;
        border: #7a6d63 1px solid;
        padding: 10px 20px;
        border-radius: 10px;
        margin-top: 20px;
    }
    
    #showcase .button:hover {
        background: #1e3da4; 
        color: #fff;
    }
    
    
    
    
    
    
    
    .btn1{
     position:absolute;
     font-family:'Times New Roman', Times, serif;
     right:60%;
    background-color: white;
    }
    
    .btn2{
       position:absolute;
    font-family:'Times New Roman', Times, serif;
     right:50%;
    background-color: white;
    }
    
    p{
        font-family:'Times New Roman', Times, serif;
        background: none;
        position: inherit;
        right:30%;
    }